<h3>Sign Up!</h3>
<form action='/users' method='POST' name='signup_form'>
  <input type='text' placeholder='Email' name='email'>
  <input type='password' name="password">
  <input type='submit' value='register'>
</form>
