<h1>Welcome to our flashcard game!</h1>

<p>If you're new, <a href="/users/new">please sign up!</a></p>
<div class = "sign_up_div">
</div><br>
<% if !logged_in %>
<h3>If you've already signed up, please log in with your username!</h3>
<div class = "login_form">
  <form action='/sessions' method='POST' name='login_form'>
  <input type='text' placeholder='Email Address' name='email'>
  <input type='password' name='password'>
  <input type='submit'>
  </form>
</div>
<% end %>
<% if logged_in %>
<a href="/round/new">Click here to play!</a>
<% end %>



